@model IEnumerable<ChronoHealHealthCare1.Models.Ward>

@{
    ViewBag.Title = "Index";
}
<div class="container p-5">
    <h2>Index</h2>

    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WardNo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.WardNo)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.WId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.WId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.WId })
                </td>
            </tr>
        }

    </table>
</div>